/* Resetting some default styles */
body, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8; /* Light gray background */
    color: #333; /* Dark text color */
    text-align: center;
    padding: 20px;
}

.ram {
    background-color: #f8f8f8; /* Light gray background */
}

.container {
    width: 50%; /* Adjusted width for smaller forms */
    margin: 0 auto; /* Center the container */
}

.left-half,
.right-half {
    width: 100%; /* Full width for smaller screens */
    box-sizing: border-box;
}

.left-half {
    float: left;
}

.right-half {
    float: right;
}

/* Additional styling if needed */
.container,
.left-half,
.right-half {
    padding: 20px; /* Increased padding for spacing */
}

h1 {
    font-size: 28px; /* Slightly larger font size */
}

a {
    text-decoration: none;
    color: #0066cc; /* Blue link color for contrast */
}

button {
    background-color: #ff5b31;
    color: #fff;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    margin: 10px auto;
    /* Set top and bottom margin to 10px and left and right margin to auto */
    display: block;
    /* Make the button a block-level element to center it */
}
/* Form elements */
input[type="submit"],
input[type="email"],
input[type="name"],
input[type="text"],
input[type="password"],
input[type="number"] {
    padding: 20px; /* Increased padding for input fields */
    margin: 20px 0; /* Adjusted margin for input fields */
    width: 30%;
    border: 2px solid #0066cc; /* Blue border for contrast */
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 2px solid #333; /* Dark border for contrast */
}

th,
td {
    padding: 15px; /* Increased padding for table cells */
}

/* Additional styles for specific elements */
img {
    max-width: 20%;
    height: auto; /* Responsive images */
    border-radius: 30%;
}

/* Responsive styles for small screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 18px; /* Slightly larger font size for smaller screens */
    }

    .container {
        width: 80%; /* Adjusted width for small screens */
    }

    input[type="email"],
    input[type="name"],
    input[type="text"],
    input[type="password"],
    input[type="number"] {
        padding: 12px; /* Slightly smaller padding for small screens */
    }

    button {
        padding: 12px 20px; /* Slightly smaller padding for buttons on small screens */
    }
}
